{
    "presets": [
        ["env", 
        {
            "targets": {
                "browser": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }
        ]
    ],
    "plugins": ["transform-runtime"]
}